nug-iot.flow
[{"id":"33b92f8c.cf9ed","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/temperature","topic":"nug/ESP_1DA4EF/temperature","qos":"2","broker":"da7a0680.674128","x":390,"y":440,"wires":[["daa906fd.b039a8","8997da49.608438","68553016.8fec6"]]},{"id":"f2631cc4.51a41","type":"mqtt out","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/led","topic":"nug/ESP_1DA4EF/led","qos":"2","retain":"","broker":"da7a0680.674128","x":420,"y":300,"wires":[]},{"id":"ed58d456.063668","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/humidity","topic":"nug/ESP_1DA4EF/humidity","qos":"2","broker":"da7a0680.674128","x":400,"y":580,"wires":[["187a74fb.d558db","c255f296.6de97","6913c139.561aa"]]},{"id":"416a8c4f.3f93c4","type":"ui_switch","z":"dcbd37b8.5823d8","name":"LED","label":"LED","group":"db9c182a.c785f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"nug/ESP_1DA4EF/led","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":170,"y":300,"wires":[["f2631cc4.51a41"]]},{"id":"daa906fd.b039a8","type":"ui_chart","z":"dcbd37b8.5823d8","name":"Temperature","group":"db9c182a.c785f8","order":4,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":400,"wires":[[],[]]},{"id":"187a74fb.d558db","type":"ui_gauge","z":"dcbd37b8.5823d8","name":"Humidity","group":"db9c182a.c785f8","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":820,"y":500,"wires":[]},{"id":"8997da49.608438","type":"influxdb out","z":"dcbd37b8.5823d8","influxdb":"81a47acc.9f2608","name":"","measurement":"ESP_1DA4EF_temperature","precision":"","retentionPolicy":"","x":920,"y":440,"wires":[]},{"id":"495bd42c.e4bb6c","type":"ui_switch","z":"dcbd37b8.5823d8","name":"Relay","label":"Relay","group":"db9c182a.c785f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"nug/ESP_1DA4EF/relay","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":170,"y":240,"wires":[["7fac7b8b.8fce34"]]},{"id":"7fac7b8b.8fce34","type":"mqtt out","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/relay","topic":"nug/ESP_1DA4EF/relay","qos":"2","retain":"","broker":"da7a0680.674128","x":410,"y":240,"wires":[]},{"id":"78256981.a80218","type":"debug","z":"dcbd37b8.5823d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"c255f296.6de97","type":"influxdb out","z":"dcbd37b8.5823d8","influxdb":"81a47acc.9f2608","name":"","measurement":"ESP_1DA4EF_humidity","precision":"","retentionPolicy":"","x":910,"y":580,"wires":[]},{"id":"c0e8eddd.e1905","type":"influxdb out","z":"dcbd37b8.5823d8","influxdb":"81a47acc.9f2608","name":"","measurement":"ESP_1DA4EF_led","precision":"","retentionPolicy":"","x":890,"y":700,"wires":[]},{"id":"146e9302.3c422d","type":"influxdb out","z":"dcbd37b8.5823d8","influxdb":"81a47acc.9f2608","name":"","measurement":"ESP_1DA4EF_relay","precision":"","retentionPolicy":"","x":900,"y":640,"wires":[]},{"id":"1679d571.410f7b","type":"change","z":"dcbd37b8.5823d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":640,"wires":[["146e9302.3c422d"]]},{"id":"9a339d33.d82a9","type":"change","z":"dcbd37b8.5823d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["c0e8eddd.e1905"]]},{"id":"d591fce2.ae8","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/led/status","topic":"nug/ESP_1DA4EF/led/status","qos":"2","broker":"da7a0680.674128","x":400,"y":700,"wires":[["9a339d33.d82a9"]]},{"id":"6f8bd9b4.dc6238","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/relay/status","topic":"nug/ESP_1DA4EF/relay/status","qos":"2","broker":"da7a0680.674128","x":400,"y":640,"wires":[["1679d571.410f7b"]]},{"id":"57d2b412.0ca62c","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/#","topic":"nug/#","qos":"2","broker":"da7a0680.674128","x":470,"y":180,"wires":[["78256981.a80218"]]},{"id":"6913c139.561aa","type":"ui_chart","z":"dcbd37b8.5823d8","name":"Humidity","group":"db9c182a.c785f8","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":540,"wires":[[],[]]},{"id":"68553016.8fec6","type":"ui_gauge","z":"dcbd37b8.5823d8","name":"Temperature","group":"db9c182a.c785f8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"Celcius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":830,"y":360,"wires":[]},{"id":"b246289d.8aed18","type":"mqtt in","z":"dcbd37b8.5823d8","name":"nug/ESP_1DA4EF/door","topic":"nug/ESP_1DA4EF/door/status","qos":"2","broker":"da7a0680.674128","x":380,"y":760,"wires":[[]]},{"id":"da7a0680.674128","type":"mqtt-broker","z":"","name":"LocalMosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db9c182a.c785f8","type":"ui_group","z":"","name":"ESP_1DA4EF","tab":"6c10e874.c1f5d8","disp":true,"width":"4","collapse":true},{"id":"81a47acc.9f2608","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"telemetry","name":"telemetry db","usetls":false,"tls":""},{"id":"6c10e874.c1f5d8","type":"ui_tab","z":"","name":"NUG","icon":"dashboard"}]
